In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('G:\《Python数据分析14天入门训练营》课程视频\作业中用的数据\课程3资料\豆瓣电影数据.xlsx')

In [7]:
df.head()#显示前5行
df.tail()#后5行

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [4]:
df.iloc[0] #iloc行操作

名字                   肖申克的救赎
投票人数                 692795
类型                    剧情/犯罪
产地                       美国
上映时间    1994-09-10 00:00:00
时长                      142
年代                     1994
评分                      9.6
首映地点                 多伦多电影节
Name: 0, dtype: object

In [5]:
df.iloc[0:5]#显示0到4行，不包括5

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [6]:
df.loc[0:5]#显示0到5行

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

In [10]:
dit={'名字':'复仇联盟3','投票人数':'1234','类型':'科幻','产地':'美国','上映时间':'2018','时长':'112','年代':'2018','评分':'9.2','首映地点':'美国'}
s=pd.Series(dit)
s.name=38738
df=df.append(s)

In [12]:
df[-5:]#显示后5行

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,复仇联盟3,1234,科幻,美国,2018,112,2018,9.2,美国

In [13]:
df=df.drop({38738})#删除行
df[-5:]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [15]:
df.columns#列操做

Index(['名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分', '首映地点'], dtype='object')

In [16]:
df['名字'][:5]#前5列

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [17]:
df[['名字','类型']][:5]

       名字        类型
0  肖申克的救赎     剧情/犯罪
1    控方证人  剧情/悬疑/犯罪
2   美丽人生   剧情/喜剧/爱情
3    阿甘正传     剧情/爱情
4    霸王别姬  剧情/爱情/同性

In [18]:
df['序号']=range(1,len(df)+1)#增加一列
df[:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,序号
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5

In [19]:
df=df.drop('序号',axis=1)#删除一列
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

In [21]:
df.loc[[1,3,5],['名字','评分']]#df.loc[[index],[colunm]]标签选择数据

       名字   评分
1    控方证人  9.5
3    阿甘正传  9.4
5  泰坦尼克号   9.4

In [29]:
df[df['产地']=='美国'][:5]#条件判断

       名字    投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [30]:
df[(df.产地=='美国')&(df.评分>9)][:5]#df[df['产地']=='美国']和df[(df.产地=='美国')]相同

       名字    投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [34]:
df[df['名字'].isnull()][:10]#df.isnull()判断缺失值

      名字  投票人数           类型  产地                 上映时间   时长    年代   评分 首映地点
231  NaN   144       纪录片/音乐  韩国  2011-02-02 00:00:00   90  2011  9.7   美国
361  NaN    80           短片  其他  1905-05-17 00:00:00    4  1964  5.7   美国
369  NaN  5315           剧情  日本  2004-07-10 00:00:00  111  2004  7.5   日本
372  NaN   263        短片/音乐  英国  1998-06-30 00:00:00   34  1998  9.2   美国
374  NaN    47           短片  其他  1905-05-17 00:00:00    3  1964  6.7   美国
375  NaN  1193        短片/音乐  法国  1905-07-01 00:00:00   10  2010  7.7   美国
411  NaN    32           短片  其他  1905-05-17 00:00:00    3  1964    7   美国
432  NaN  1081  剧情/动作/惊悚/犯罪  美国  2016-02-26 00:00:00  115  2016    6   美国
441  NaN   213           恐怖  美国  2007-03-06 00:00:00   83  2007  3.2   美国
448  NaN   110          纪录片  荷兰  2002-04-19 00:00:00   48  2000  9.3   美国

In [38]:
dit={'名字':'复仇联盟3','投票人数':'1234','类型':'科幻','产地':'美国','上映时间':'2018','时长':'112','年代':'2018','评分':np.nan,'首映地点':'美国'}
s=pd.Series(dit)
s.name=38738
df=df.append(s)
df[df['评分'].isnull()]

          名字  投票人数  类型  产地  上映时间   时长    年代   评分 首映地点
38738  复仇联盟3  1234  科幻  美国  2018  112  2018  NaN   美国

In [41]:
df['评分'].fillna(np.mean(df['评分']),inplace=True)#均值填充
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,复仇联盟3,1234,科幻,美国,2018,112,2018,6.935704,美国

In [43]:
df1=df.fillna('未知电影')
df1[df1['名字'].isnull()]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [45]:
df.dropna(inplace=True)#how='all'删除全为空值的行或列 inplace=True 覆盖之前的数据 axis=0 选择行或列代付【】

In [71]:
df[df.投票人数<0]

AttributeError: module 'numpy' has no attribute 'folat64'

In [55]:
df[df['投票人数']%1==0]

TypeError: not all arguments converted during string formatting

In [69]:
df[df.投票人数 >0 ]

TypeError: '>' not supported between instances of 'str' and 'int'