In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('G:\《Python数据分析14天入门训练营》课程视频\作业中用的数据\课程3资料\豆瓣电影数据.xlsx')

In [3]:
df.head()#显示前5行
df.tail()#后5行

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46.0,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57.0,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95.0,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51.0,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32.0,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [4]:
df.iloc[0] #iloc行操作

名字                   肖申克的救赎
投票人数                 692795
类型                    剧情/犯罪
产地                       美国
上映时间    1994-09-10 00:00:00
时长                      142
年代                     1994
评分                      9.6
首映地点                 多伦多电影节
Name: 0, dtype: object

In [5]:
df.iloc[0:5]#显示0到4行，不包括5

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港

In [6]:
df.loc[0:5]#显示0到5行

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795.0,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995.0,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855.0,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897.0,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523.0,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074.0,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆

In [10]:
dit={'名字':'复仇联盟3','投票人数':'1234','类型':'科幻','产地':'美国','上映时间':'2018','时长':'112','年代':'2018','评分':'9.2','首映地点':'美国'}
s=pd.Series(dit)
s.name=38738
df=df.append(s)

In [12]:
df[-5:]#显示后5行

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国
38738,复仇联盟3,1234,科幻,美国,2018,112,2018,9.2,美国

In [13]:
df=df.drop({38738})#删除行
df[-5:]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38733,神学院 S,46,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [15]:
df.columns#列操做

Index(['名字', '投票人数', '类型', '产地', '上映时间', '时长', '年代', '评分', '首映地点'], dtype='object')

In [16]:
df['名字'][:5]#前5列

0    肖申克的救赎
1      控方证人
2     美丽人生
3      阿甘正传
4      霸王别姬
Name: 名字, dtype: object

In [17]:
df[['名字','类型']][:5]

       名字        类型
0  肖申克的救赎     剧情/犯罪
1    控方证人  剧情/悬疑/犯罪
2   美丽人生   剧情/喜剧/爱情
3    阿甘正传     剧情/爱情
4    霸王别姬  剧情/爱情/同性

In [18]:
df['序号']=range(1,len(df)+1)#增加一列
df[:5]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点,序号
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节,1
1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国,2
2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利,3
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映,4
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港,5

In [19]:
df=df.drop('序号',axis=1)#删除一列
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

In [21]:
df.loc[[1,3,5],['名字','评分']]#df.loc[[index],[colunm]]标签选择数据

       名字   评分
1    控方证人  9.5
3    阿甘正传  9.4
5  泰坦尼克号   9.4

In [29]:
df[df['产地']=='美国'][:5]#条件判断

       名字    投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [30]:
df[(df.产地=='美国')&(df.评分>9)][:5]#df[df['产地']=='美国']和df[(df.产地=='美国')]相同

       名字    投票人数        类型  产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪  美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪  美国  1957-12-17 00:00:00  116  1957  9.5      美国
3    阿甘正传  580897     剧情/爱情  美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
5  泰坦尼克号   157074  剧情/爱情/灾难  美国  2012-04-10 00:00:00  194  2012  9.4    中国大陆
6  辛德勒的名单  306904  剧情/历史/战争  美国  1993-11-30 00:00:00  195  1993  9.4   华盛顿首映

In [34]:
df[df['名字'].isnull()][:10]#df.isnull()判断缺失值

      名字  投票人数           类型  产地                 上映时间   时长    年代   评分 首映地点
231  NaN   144       纪录片/音乐  韩国  2011-02-02 00:00:00   90  2011  9.7   美国
361  NaN    80           短片  其他  1905-05-17 00:00:00    4  1964  5.7   美国
369  NaN  5315           剧情  日本  2004-07-10 00:00:00  111  2004  7.5   日本
372  NaN   263        短片/音乐  英国  1998-06-30 00:00:00   34  1998  9.2   美国
374  NaN    47           短片  其他  1905-05-17 00:00:00    3  1964  6.7   美国
375  NaN  1193        短片/音乐  法国  1905-07-01 00:00:00   10  2010  7.7   美国
411  NaN    32           短片  其他  1905-05-17 00:00:00    3  1964    7   美国
432  NaN  1081  剧情/动作/惊悚/犯罪  美国  2016-02-26 00:00:00  115  2016    6   美国
441  NaN   213           恐怖  美国  2007-03-06 00:00:00   83  2007  3.2   美国
448  NaN   110          纪录片  荷兰  2002-04-19 00:00:00   48  2000  9.3   美国

In [38]:
dit={'名字':'复仇联盟3','投票人数':'1234','类型':'科幻','产地':'美国','上映时间':'2018','时长':'112','年代':'2018','评分':np.nan,'首映地点':'美国'}
s=pd.Series(dit)
s.name=38738
df=df.append(s)
df[df['评分'].isnull()]

          名字  投票人数  类型  产地  上映时间   时长    年代   评分 首映地点
38738  复仇联盟3  1234  科幻  美国  2018  112  2018  NaN   美国

In [41]:
df['评分'].fillna(np.mean(df['评分']),inplace=True)#均值填充
df.tail()

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.600000,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.100000,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.000000,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.600000,美国
38738,复仇联盟3,1234,科幻,美国,2018,112,2018,6.935704,美国

In [43]:
df1=df.fillna('未知电影')
df1[df1['名字'].isnull()]

Empty DataFrame
Columns: [名字, 投票人数, 类型, 产地, 上映时间, 时长, 年代, 评分, 首映地点]
Index: []

In [45]:
df.dropna(inplace=True)#how='all'删除全为空值的行或列 inplace=True 覆盖之前的数据 axis=0 选择行或列代付【】

In [4]:
df['投票人数'].dtype#注意数据类型

dtype('float64')

In [5]:
df['投票人数']=df['投票人数'].astype('int')#浮点型数据转换成整数格式

In [6]:
df[:5]

       名字    投票人数        类型    产地                 上映时间   时长    年代   评分    首映地点
0  肖申克的救赎  692795     剧情/犯罪    美国  1994-09-10 00:00:00  142  1994  9.6  多伦多电影节
1    控方证人   42995  剧情/悬疑/犯罪    美国  1957-12-17 00:00:00  116  1957  9.5      美国
2   美丽人生   327855  剧情/喜剧/爱情   意大利  1997-12-20 00:00:00  116  1997  9.5     意大利
3    阿甘正传  580897     剧情/爱情    美国  1994-06-23 00:00:00  142  1994  9.4   洛杉矶首映
4    霸王别姬  478523  剧情/爱情/同性  中国大陆  1993-01-01 00:00:00  171  1993  9.4      香港

In [7]:
df['投票人数'].dtype

dtype('int32')

In [8]:
df[df['投票人数']%1==0]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
0,肖申克的救赎,692795,剧情/犯罪,美国,1994-09-10 00:00:00,142,1994,9.6,多伦多电影节
1,控方证人,42995,剧情/悬疑/犯罪,美国,1957-12-17 00:00:00,116,1957,9.5,美国
2,美丽人生,327855,剧情/喜剧/爱情,意大利,1997-12-20 00:00:00,116,1997,9.5,意大利
3,阿甘正传,580897,剧情/爱情,美国,1994-06-23 00:00:00,142,1994,9.4,洛杉矶首映
4,霸王别姬,478523,剧情/爱情/同性,中国大陆,1993-01-01 00:00:00,171,1993,9.4,香港
5,泰坦尼克号,157074,剧情/爱情/灾难,美国,2012-04-10 00:00:00,194,2012,9.4,中国大陆
6,辛德勒的名单,306904,剧情/历史/战争,美国,1993-11-30 00:00:00,195,1993,9.4,华盛顿首映
7,新世纪福音战士剧场版：Air/真心为你 新世紀エヴァンゲリオン劇場版 Ai,24355,剧情/动作/科幻/动画/奇幻,日本,1997-07-19 00:00:00,87,1997,9.4,日本
8,银魂完结篇：直到永远的万事屋 劇場版 銀魂 完結篇 万事屋よ,21513,剧情/动画,日本,2013-07-06 00:00:00,110,2013,9.4,日本
9,这个杀手不太冷,662552,剧情/动作/犯罪,法国,1994-09-14 00:00:00,133,1994,9.4,法国
10,灿烂人生,16807,剧情/爱情/家庭,意大利,2003-06-22 00:00:00,366,2003,9.3,美国
11,疯狂动物城,284652,喜剧/动作/动画/冒险,美国,2016-03-04 00:00:00,109,2016,9.3,中国大陆/美国
12,福音战士新剧场版：破 ヱヴァンゲリヲン新劇場版：,32524,剧情/动作/科幻/动画,日本,2009-06-27 00:00:00,108,2009,9.3,美国
13,海豚湾,159302,纪录片,美国,2009-07-31 00:00:00,92,2009,9.3,美国
14,回忆积木小屋 つみきのい,93384,剧情/动画/短片,日本,2008-06-10 00:00:00,12,2008,9.3,美国
15,机器人总动员,421734,喜剧/爱情/科幻/动画/冒险,美国,2008-06-27 00:00:00,98,2008,9.3,美国
16,十二怒汉,134949,剧情,美国,1957-04-01 00:00:00,96,1957,9.3,美国
17,旅行到宇宙边缘,10044,纪录片,美国,2008-11-07 00:00:00,90,2008,9.3,美国
18,父与女,53358,剧情/动画/短片,英国,2001-05-27 00:00:00,60,2001,9.2,美国
19,暴力云与送子鹳,75567,喜剧/动画/短片/奇幻,美国,2009-05-29 00:00:00,6,2009,9.2,美国
20,城市之光,31105,剧情/喜剧/爱情,美国,1931-01-30 00:00:00,87,1931,9.2,美国
21,大闹天宫,74881,动画/奇幻,中国大陆,1905-05-14 00:00:00,114,1961,9.2,上集
22,盗梦空间,642134,剧情/动作/科幻/悬疑/冒险,美国,2010-09-01 00:00:00,148,2010,9.2,中国大陆
23,放牛班的春天,370585,剧情/音乐/儿童,法国,2004-10-16 00:00:00,97,2004,9.2,中国大陆
24,海上钢琴师,501153,剧情/音乐,意大利,1998-10-28 00:00:00,165,1998,9.2,意大利
25,家园,32717,纪录片,法国,2009-06-05 00:00:00,118,2009,9.2,美国
26,教父,280871,剧情/犯罪,美国,1972-03-15 00:00:00,175,1972,9.2,纽约首映
27,乱世佳人,226131,剧情/爱情/战争,美国,1939-12-15 00:00:00,238,1939,9.2,亚特兰大首映
28,千与千寻 千と千尋の神隠,525505,剧情/动画/奇幻,日本,2001-07-20 00:00:00,125,2001,9.2,日本
29,穹顶之下,51113,纪录片,中国大陆,2015-02-28 00:00:00,104,2015,9.2,中国大陆
...,...,...,...,...,...,...,...,...,...
38708,洛奇,3211,剧情/运动,美国,1990-11-16 00:00:00,104,1990,7.5,美国
38709,孟菲斯美女号,1627,剧情/动作/战争,英国,1990-09-07 00:00:00,107,1990,8.4,美国
38710,末路英雄半世情,216,剧情,英国,1990-11-01 00:00:00,126,1990,8.1,美国
38711,活死人之夜,1326,恐怖,美国,1990-10-19 00:00:00,92,1990,6.8,美国
38712,省港旗兵3：逃出香港 省港旗兵第,1399,动作,中国香港,1989-01-12 00:00:00,100,1989,6.1,香港
38713,危险之至,85,剧情/动作/悬疑,美国,1989-01-13 00:00:00,100,1989,8.0,美国
38714,拯救首相,111,动作/战争,意大利,1989-12-22 00:00:00,85,1989,7.7,美国
38715,二二六,568,剧情/动作/战争,日本,1989-06-17 00:00:00,114,1989,6.9,美国
38716,华沙谍战,719,动作/传记/犯罪,波兰,2014-02-07 00:00:00,128,2014,7.0,波兰
38717,地狱·天堂,171,恐怖,中国大陆,1905-06-11 00:00:00,89,1989,6.2,美国
38718,达摩为何东渡？,291,剧情,韩国,1989-09-23 00:00:00,175,1989,8.1,韩国
38719,天伦乐,99,剧情,美国,1988-09-02 00:00:00,99,1988,8.5,美国
38720,青春禁忌游戏 Дорогая Елена Сергее,118,剧情,苏联,1988-04-12 00:00:00,94,1988,9.1,美国
38721,安迪·沃霍尔,40,纪录片/传记,英国,1987-06-09 00:00:00,76,1987,8.1,美国
38722,青春传奇,175,剧情/音乐/传记,美国,1987-07-24 00:00:00,108,1987,8.2,美国
38723,我要求审判,102,剧情/惊悚,美国,1987-11-20 00:00:00,116,1987,8.2,美国
38724,跷家的一夜,82,喜剧/动作/惊悚/冒险,美国,1987-07-01 00:00:00,102,1987,7.8,美国
38725,黑皮与白牙 黑皮與白,106,剧情,中国台湾,1987-02-01 00:00:00,97,1987,8.0,美国
38726,零下的激情,199,剧情/爱情/犯罪,美国,1987-11-06 00:00:00,98,1987,7.4,美国
38727,T省的八四、八五,380,剧情,中国大陆,1905-06-08 00:00:00,94,1986,8.7,美国
38728,离别秋波,240,剧情/爱情/音乐,美国,1986-02-19 00:00:00,90,1986,8.2,美国
38729,失踪的女中学生,101,儿童,中国大陆,1905-06-08 00:00:00,102,1986,7.4,美国
38730,喧闹村的孩子们,36,家庭,瑞典,1986-12-06 00:00:00,9200,1986,8.7,瑞典
38731,血战台儿庄,2908,战争,中国大陆,1905-06-08 00:00:00,120,1986,8.1,美国
38732,极乐森林,45,纪录片,美国,1986-09-14 00:00:00,90,1986,8.1,美国
38733,神学院 S,46,Adult,法国,1905-06-05 00:00:00,58,1983,8.6,美国
38734,1935年,57,喜剧/歌舞,美国,1935-03-15 00:00:00,98,1935,7.6,美国
38735,血溅画屏,95,剧情/悬疑/犯罪/武侠/古装,中国大陆,1905-06-08 00:00:00,91,1986,7.1,美国
38736,魔窟中的幻想,51,惊悚/恐怖/儿童,中国大陆,1905-06-08 00:00:00,78,1986,8.0,美国
38737,列宁格勒围困之星火战役 Блокада: Фильм 2: Ленинградский ме...,32,剧情/战争,苏联,1905-05-30 00:00:00,97,1977,6.6,美国

In [10]:
df[df.投票人数 <0 ]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19777,皇家大贼 皇家大,-80,剧情/犯罪,中国香港,1985-05-31 00:00:00,60,1985,6.3,美国
19786,日本的垃圾去中国大陆 にっぽんの“ゴミ” 大陆へ渡る ～中国式リサイクル錬,-80,纪录片,日本,1905-06-26 00:00:00,60,2004,7.9,美国
19797,女教徒,-118,剧情,法国,1966-05-06 00:00:00,135,1966,7.8,美国

In [12]:
df['年代']=df['年代'].astype('int')#发现异常值

ValueError: invalid literal for int() with base 10: '2008\u200e'

In [19]:
df[df.年代=='2008\u200e']

         名字  投票人数  类型    产地                 上映时间  时长     年代   评分 首映地点
15205  狂蟒惊魂   544  恐怖  中国大陆  2008-04-08 00:00:00  93  2008‎  2.7   美国

In [20]:
df.loc[15205,'年代']=2008#重新赋值

In [21]:
df['年代']=df['年代'].astype('int')

In [22]:
df.loc[15205]#查询行数据

名字                     狂蟒惊魂
投票人数                    544
类型                       恐怖
产地                     中国大陆
上映时间    2008-04-08 00:00:00
时长                       93
年代                     2008
评分                      2.7
首映地点                     美国
Name: 15205, dtype: object

In [23]:
df['年代'][:5]

0    1994
1    1957
2    1997
3    1994
4    1993
Name: 年代, dtype: int32

In [24]:
df['时长']=df['时长'].astype('int')#数据出错

ValueError: invalid literal for int() with base 10: '8U'

In [25]:
df[df['时长']=='8U']#找到出错数据

             名字  投票人数      类型  产地                 上映时间  时长    年代   评分 首映地点
31644  一个被隔绝的世界    46  纪录片/短片  瑞典  2001-10-25 00:00:00  8U  1948  7.8   美国

In [26]:
df.drop([31644],inplace=True)#删除出错数据

In [27]:
df['时长']=df['时长'].astype('int')

ValueError: invalid literal for int() with base 10: '12J'

In [28]:
df[df['时长']=='12J']

         名字  投票人数   类型  产地                 上映时间   时长    年代   评分 首映地点
32949  渔业危机    41  纪录片  英国  2009-06-19 00:00:00  12J  2008  8.2  USA

In [29]:
df.drop([32949],inplace=True)

In [30]:
df['时长']=df['时长'].astype('int')

In [35]:
df=df[df.投票人数 >0]
df=df[df['投票人数']%1==0]#符合要求的正常值保存，即异常值删除

In [36]:
df.sort_values(by='投票人数')[:5]#排序 默认从小到大 ascending=False降序

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
19804,女郎漫游仙境 ドレミファ娘の血は騒,5,喜剧/歌舞,日本,1985-11-03 00:00:00,80,1985,6.7,日本
19791,女教师 女教,8,剧情/犯罪,日本,1977-10-29 00:00:00,100,1977,6.6,日本
38055,逃出亚卡拉,12,剧情/动作/惊悚/犯罪,美国,1979-09-20 00:00:00,112,1979,7.8,美国
19820,女仆日记,12,剧情,法国,2015-04-01 00:00:00,96,2015,5.7,法国
1990,爱和一颗子弹,21,动作/犯罪,美国,2002-08-30 00:00:00,85,2002,7.0,美国

In [37]:
df.sort_values(by='年代')[:5]

            名字  投票人数           类型  产地                 上映时间  时长    年代   评分 首映地点
1700   朗德海花园场景   650           短片  英国           1888-10-14  60  1888  8.7   美国
14048     利兹大桥   126           短片  英国              1888-10  60  1888  7.2   美国
26170      恶作剧    51           短片  美国  1905-03-04 00:00:00  60  1890  4.8   美国
10627   可怜的比埃洛   176  喜剧/爱情/动画/短片  法国           1892-10-28  60  1892  7.5   法国
12374    更衣室之旁   148        动画/短片  法国              1894-12  60  1894  7.0   法国

In [38]:
df.sort_values(by=['评分','投票人数'],ascending=False)#多值排序 先评分，后数据

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
9278,平安结祈 平安結,208,音乐,日本,2012-02-24 00:00:00,60,2012,9.9,美国
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
1110,NaN,76,科幻/纪录片,美国,1905-06-23 00:00:00,75,2001,9.9,美国
23559,未作回答的问题：伯恩斯坦哈佛六讲,61,纪录片,美国,1905-05-29 00:00:00,60,1973,9.9,美国
35470,NaN,46,纪录片/音乐,韩国,2013-10-31 00:00:00,90,2013,9.9,韩国
25273,索科洛夫：巴黎现场,43,音乐,法国,2002-11-04 00:00:00,127,2002,9.9,美国
11479,公园现场,163,音乐,英国,2012-12-03 00:00:00,60,2012,9.8,美国
35909,NaN,157,纪录片/音乐,美国,1988-02-02 00:00:00,60,1988,9.8,美国
1289,Sant,143,脱口秀,日本,2003-01-01 00:00:00,135,2014,9.8,美国
26025,天使之声：自由童声合唱团,97,纪录片/音乐,美国,2007-10-02 00:00:00,75,2007,9.8,美国
19428,绿洲乐队海洋现场演唱会,82,音乐,英国,1995-08-28 00:00:00,60,1995,9.8,美国
698,NaN,52,纪录片,英国,2008-07-25 00:00:00,40,2008,9.8,美国
27021,阿森纳 - 2,48,运动,英国,2008-06-09 00:00:00,60,2008,9.8,美国
27331,阿森纳： 再见海布里 -,47,运动,英国,2006-06-19 00:00:00,60,2006,9.8,美国
35102,自由颂：柏林墙拆除庆祝音乐会,41,纪录片/音乐,其他,1989-12-25 00:00:00,94,1989,9.8,美国
31092,急救精英,37,纪录片,美国,1905-06-27 00:00:00,60,2008,9.8,美国
33385,NaN,31,音乐,英国,1999-11-23 00:00:00,60,1999,9.8,美国
14209,久石让在武道馆：与宫崎骏动画一同走过的25年 久石譲 in 武道館 ~宮崎アニ,8601,纪录片/音乐,日本,2008-08-05 00:00:00,116,2008,9.7,日本
19557,涅磐纽约不插电演唱会,5840,纪录片/音乐,USA,1993-12-16 00:00:00,72,1993,9.7,美国
14369,剧院魅影：25周年纪念,2417,剧情/音乐/歌舞,英国,2011-10-02 00:00:00,137,2011,9.7,美国
805,迈克尔·杰克逊-危险之旅之布加勒斯特站,1768,音乐,美国,2005-06-26 00:00:00,60,1992,9.7,美国
17326,迈克尔·杰克逊：音乐历史专辑全集,948,剧情/爱情/恐怖/纪录片/音乐,美国,1995-06-16 00:00:00,90,1995,9.7,美国
31572,夜愿：时代终结,492,音乐,其他,2006-05-11 00:00:00,104,2006,9.7,美国
23167,神秘博士：2008逍,433,音乐,英国,2008-07-27 00:00:00,95,2008,9.7,英国
1229,P,315,纪录片/音乐,美国,1998-04-02 00:00:00,93,1998,9.7,美国
15708,老鹰乐队2004年墨尔,280,音乐,澳大利亚,2005-06-14 00:00:00,175,2005,9.7,美国
1415,NaN,247,纪录片/音乐,英国,1992-04-20 00:00:00,175,1992,9.7,美国
18710,魔戒交响诗：一个作曲家在中土世界的音乐旅程,247,纪录片/音乐,加拿大,2004-12-14 00:00:00,52,2004,9.7,美国
29499,小捣蛋,233,喜剧/短片/家庭,美国,1922-11-05 00:00:00,20,1922,9.7,美国
8375,NaN,226,纪录片/音乐,其他,2003-11-17 00:00:00,60,2003,9.7,美国
...,...,...,...,...,...,...,...,...,...
24247,山精,58,惊悚,其他,1905-07-01 00:00:00,60,2009,2.4,美国
26342,通道转兵,57,历史,中国大陆,2011-08-30 00:00:00,90,2011,2.4,中国大陆
9015,感染:入侵开,56,科幻/惊悚,美国,1905-07-02 00:00:00,95,2010,2.4,美国
9683,古老国度的传说,53,动作/冒险,美国,1905-07-01 00:00:00,86,2010,2.4,美国
31894,一夜危机,45,剧情/喜剧/爱情,中国大陆,2016-03-25 00:00:00,86,2016,2.4,中国大陆
8576,疯花血月,43,爱情/悬疑/恐怖,中国大陆,2014-11-12 00:00:00,90,2014,2.4,美国
26740,外国人大决战,38,科幻,美国,2011-07-26 00:00:00,95,2011,2.4,美国
38683,放手爱,29254,喜剧/爱情,中国大陆,2014-04-30 00:00:00,93,2014,2.3,中国大陆
38677,2016年中央电视台春节,17328,歌舞/真人秀,中国大陆,2016-02-07 00:00:00,280,2016,2.3,中国大陆
38672,汽车人总动员,12892,喜剧/动画/冒险,中国大陆,2015-07-03 00:00:00,85,2015,2.3,中国大陆
655,B区,5187,剧情/惊悚/恐怖,中国大陆,2011-06-03 00:00:00,89,2011,2.3,中国大陆
28801,西游记归来,1349,喜剧/动作/冒险,韩国,2011-02-17 00:00:00,79,2011,2.3,韩国
21632,让熊猫飞,1058,喜剧/儿童/奇幻,中国大陆,2013-06-01 00:00:00,89,2013,2.3,中国大陆
20943,亲，别怕,796,惊悚,中国大陆,2015-07-10 00:00:00,88,2015,2.3,中国大陆
5093,冲锋号,738,动画/儿童/战争,中国大陆,2013-05-24 00:00:00,82,2013,2.3,中国大陆
35151,走过雪山草地,303,剧情/历史,中国大陆,2012-11-08 00:00:00,107,2012,2.3,中国大陆
30091,新地雷战：神勇小子,174,动画/儿童/战争,中国大陆,2014-05-30 00:00:00,94,2014,2.3,中国大陆
2853,白日杀机,110,恐怖,中国大陆,2015-08-10 00:00:00,62,2015,2.3,美国
6672,地球保卫战,60,动作/科幻/战争,美国,2012-02-28 00:00:00,85,2012,2.3,加拿大
6629,底线,50,剧情/情色,中国大陆,1905-07-06 00:00:00,57,2014,2.3,美国
32148,异形降临,42,科幻,美国,2012-08-06 00:00:00,130,2012,2.3,美国
1120,齐天大圣前传,1085,剧情/喜剧/奇幻/冒险,中国大陆,2009-09-29 00:00:00,60,2009,2.2,美国
20503,戚继光英雄传,764,剧情/动画/传记/历史,中国大陆,2012-06-01 00:00:00,90,2012,2.2,中国大陆
18874,莫日根,445,动画/儿童/冒险,中国大陆,2015-10-17 00:00:00,92,2015,2.2,中国大陆
2790,爸爸我来救你了,278,喜剧/动作/家庭/儿童/冒险,中国大陆,2016-01-22 00:00:00,90,2015,2.2,中国大陆
10219,大震撼,185,剧情,中国大陆,2011-05-19 00:00:00,60,2011,2.2,中国大陆
9045,钢管侠,168,动作,中国大陆,2015-07-28 00:00:00,60,2015,2.2,中国大陆
13137,嫁给大山的女人,2690,剧情,中国大陆,2009-04-22 00:00:00,88,2009,2.1,中国大陆
36080,NaN,1334,喜剧/爱情,中国大陆,2014-01-01 00:00:00,91,2014,2.1,中国大陆
29100,都是手机惹的祸,42,喜剧,中国大陆,2013-01-18 00:00:00,60,2012,2.0,中国大陆

In [39]:
df.describe()#对dataframe中数据进行描述性统计

                投票人数            时长            年代            评分
count   38733.000000  38733.000000  38733.000000  38733.000000
mean     6186.637079     89.052074   1998.789637      6.935618
std     26145.110552     83.336808    253.208482      1.270138
min         5.000000      1.000000   1888.000000      2.000000
25%        98.000000     60.000000   1990.000000      6.300000
50%       341.000000     92.000000   2005.000000      7.100000
75%      1741.000000    106.000000   2010.000000      7.800000
max    692795.000000  11500.000000  39180.000000      9.900000

In [40]:
df[df['年代']>2018]

,名字,投票人数,类型,产地,上映时间,时长,年代,评分,首映地点
13882,武之舞,128,纪录片,中国大陆,1997-02-01 00:00:00,60,34943,9.9,美国
17115,妈妈回来吧-中国打工村的孩子,49,纪录片,日本,2007-04-08 00:00:00,109,39180,8.9,美国

In [41]:
df[df['时长']>1000]

            名字  投票人数        类型  产地                 上映时间     时长    年代   评分 首映地点
19690     怒海余生    54  剧情/家庭/冒险  美国  1937-09-01 00:00:00  11500  1937  7.9   美国
38730  喧闹村的孩子们    36        家庭  瑞典  1986-12-06 00:00:00   9200  1986  8.7   瑞典

In [43]:
df.drop(df[df['年代']>2018].index,inplace=True)
df.drop(df[df['时长']>1000].index,inplace=True)#删除异常数据

In [44]:
df.index=range(len(df))#删除数据后，重新排列index len()计数

In [45]:
df['投票人数'].max()#min 查看最值 sun总数求和

692795

In [46]:
df['投票人数'].mean()#均值 median 中位数

6187.269152314803

In [47]:
df['投票人数'].var()#方差 std 标准差

683633538.7497708

In [50]:
df[['投票人数','评分']].corr()#相关系数  cov 协方差

          投票人数        评分
投票人数  1.000000  0.122957
评分    0.122957  1.000000

In [51]:
df['产地'].unique()#产地取值多少种

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', 'USA', '苏联', '墨西哥', '巴西', '瑞典', '西德'], dtype=object)

In [52]:
len(df['产地'].unique())

28

In [53]:
df['产地'].replace('USA','美国',inplace=True)#重复值替换

In [54]:
df['产地'].replace(['西德','苏联'],['德国','俄罗斯'],inplace=True)#批量替换

In [55]:
df['产地'].unique()

array(['美国', '意大利', '中国大陆', '日本', '法国', '英国', '韩国', '中国香港', '阿根廷', '德国',
       '印度', '其他', '加拿大', '波兰', '泰国', '澳大利亚', '西班牙', '俄罗斯', '中国台湾', '荷兰',
       '丹麦', '比利时', '墨西哥', '巴西', '瑞典'], dtype=object)

In [57]:
df['年代'].unique()

array([1994, 1957, 1997, 1993, 2012, 2013, 2003, 2016, 2009, 2008, 2001,
       1931, 1961, 2010, 2004, 1998, 1972, 1939, 2015, 1946, 2011, 1982,
       1960, 2006, 1988, 2002, 1995, 1996, 1984, 2014, 1953, 2007, 2000,
       1967, 1983, 1963, 1977, 1966, 1971, 1974, 1985, 1987, 1973, 1962,
       1969, 1989, 1979, 1981, 1936, 1954, 1992, 1970, 1991, 2005, 1920,
       1933, 1990, 1999, 1896, 1965, 1921, 1947, 1975, 1964, 1943, 1928,
       1986, 1895, 1949, 1932, 1919, 1956, 1955, 1951, 1905, 1940, 1908,
       1900, 1978, 1958, 1898, 1976, 1938, 1907, 1913, 1968, 1912, 1937,
       1952, 1903, 1948, 1926, 1906, 1959, 1934, 1944, 1888, 1909, 1925,
       1923, 1945, 1904, 1980, 1917, 1935, 1942, 1950, 1902, 1941, 1930,
       1922, 1916, 1929, 1927, 1914, 1924, 1918, 1899, 1901, 1915, 1892,
       1894, 1910, 1897, 1911, 1890], dtype=int64)

In [58]:
df['产地'].value_counts()#出现次数统计 默认从大到小

美国      11978
日本       5051
中国大陆     3802
中国香港     2851
法国       2816
英国       2762
其他       1920
韩国       1351
德国       1032
意大利       749
加拿大       723
中国台湾      618
俄罗斯       477
西班牙       447
印度        357
澳大利亚      300
泰国        294
丹麦        198
瑞典        192
波兰        181
荷兰        155
比利时       139
墨西哥       119
阿根廷       116
巴西        101
Name: 产地, dtype: int64

In [62]:
df.to_excel('movie_date2.xlsx')#数据保存

In [ ]:
#数据透视 pivot_table

In [64]:
pd.set_option('max_columns',100)
pd.set_option('max_row',500)
#设置最大显示行和列

In [65]:
pd.pivot_table(df,index=['年代'])#以年代为索引分类

              投票人数         时长        评分
年代
1888    388.000000  60.000000  7.950000
1890     51.000000  60.000000  4.800000
1892    176.000000  60.000000  7.500000
1894    112.666667  60.000000  6.633333
1895    959.875000  60.000000  7.575000
1896    984.250000  60.000000  7.037500
1897     67.000000  60.000000  6.633333
1898    578.500000  60.000000  7.450000
1899     71.000000   9.500000  6.900000
1900    175.285714  36.714286  7.228571
1901    164.500000  47.250000  7.250000
1902   1934.166667  34.666667  7.483333
1903    295.625000  29.625000  6.968750
1904    195.875000  41.250000  7.212500
1905    332.600000  43.800000  6.820000
1906    189.857143  30.571429  7.342857
1907    213.600000  31.800000  7.020000
1908    258.833333  34.166667  7.150000
1909     58.600000  20.600000  7.560000
1910    105.200000  41.800000  6.940000
1911    240.000000  25.750000  7.375000
1912    152.200000  16.400000  7.920000
1913     66.125000  57.750000  6.862500
1914    104.923077  25.923077  6.473077
1915    314.900000  56.800000  7.260000
1916    613.666667  43.833333  7.758333
1917    124.416667  31.333333  7.075000
1918    357.083333  35.166667  7.200000
1919    179.850000  62.400000  7.490000
1920    636.500000  59.357143  7.492857
1921    729.818182  57.363636  7.750000
1922    767.090909  66.363636  7.804545
1923    426.000000  74.055556  7.883333
1924    371.785714  81.178571  8.053571
1925   1104.280000  84.440000  7.788000
1926    443.608696  80.304348  7.773913
1927    695.275862  87.241379  7.751724
1928    404.825000  71.775000  7.945000
1929    740.542857  69.371429  7.440000
1930    555.080000  74.160000  7.360000
1931   1468.666667  78.523810  7.483333
1932    600.081081  77.540541  7.294595
1933    729.720000  76.360000  7.430000
1934    776.490196  83.196078  7.519608
1935    887.695652  73.673913  7.515217
1936   1465.466667  76.266667  7.635000
1937   1580.224490  85.510204  7.575510
1938    552.000000  85.973684  7.736842
1939   5911.857143  97.387755  7.520408
1940   5548.743590  92.820513  7.571795
...            ...        ...       ...
1967   1237.289773  91.590909  7.484659
1968   1096.220930  91.744186  7.317442
1969    593.111111  98.666667  7.370048
1970    676.789474  96.973684  7.291053
1971   1368.506849  96.315068  7.155708
1972   2299.096618  96.289855  7.268116
1973    800.103286  94.882629  7.250235
1974   1685.789238  95.318386  7.062332
1975   2222.739796  97.566327  7.071429
1976   1340.618026  95.055794  7.107725
1977    957.127273  98.031818  7.148182
1978   1001.820896  94.467662  7.096517
1979   1878.621145  96.000000  7.296035
1980   2407.683036  94.178571  7.186607
1981   1609.062044  93.321168  7.157299
1982   2142.729323  91.984962  7.297368
1983   1541.191336  92.169675  7.310108
1984   2667.173469  90.918367  7.375170
1985   1588.096573  93.616822  7.278505
1986   2828.506173  89.145062  7.256790
1987   3128.775510  88.938776  7.284548
1988   4800.227621  88.859335  7.265729
1989   2994.417303  88.458015  7.210687
1990   4965.587786  91.882952  7.149109
1991   4685.819512  93.370732  7.154634
1992   5486.133333  92.572414  7.223678
1993   8117.759637  95.269841  7.195692
1994  11479.255061  91.344130  7.262348
1995   8132.605317  94.441718  7.289366
1996   5095.883946  95.243714  7.258801
1997   8243.938547  94.970205  7.330168
1998   7431.790295  91.131716  7.238302
1999   7137.049600  92.457600  7.188000
2000   5907.770178  92.191518  7.134063
2001   8489.757246  90.958937  7.110145
2002   6552.593333  91.584444  7.069778
2003   7891.964248  90.558360  7.137750
2004   8587.632599  90.424670  7.031366
2005   6506.110847  92.080760  7.030008
2006   7278.260726  90.144554  6.914719
2007   6253.837522  86.628288  6.875102
2008   6753.970468  85.155295  6.911049
2009   8716.364662  86.384533  6.750000
2010   9574.788329  83.421751  6.769867
2011   8763.110397  84.125938  6.577010
2012   7082.787463  85.099902  6.458374
2013   7603.723138  84.902049  6.392604
2014   7723.302597  85.997880  6.259777
2015   7841.408291  89.863693  6.141960
2016   7176.019380  91.329457  5.868217

[126 rows x 3 columns]

In [66]:
pd.pivot_table(df,index=["年代","产地"])#使用多个索引

                   投票人数          时长        评分
年代   产地
1888 英国      388.000000   60.000000  7.950000
1890 美国       51.000000   60.000000  4.800000
1892 法国      176.000000   60.000000  7.500000
1894 法国      148.000000   60.000000  7.000000
     美国       95.000000   60.000000  6.450000
1895 法国      959.875000   60.000000  7.575000
1896 法国     1874.250000   60.000000  7.650000
     美国       55.666667   60.000000  6.366667
     英国      210.000000   60.000000  6.600000
1897 法国       67.000000   60.000000  6.633333
1898 法国      991.000000   60.000000  8.500000
     英国      166.000000   60.000000  6.400000
1899 法国       71.000000    9.500000  6.900000
1900 法国       52.000000    5.666667  7.100000
     美国      212.500000   60.000000  7.450000
     英国      323.000000   60.000000  7.200000
1901 法国      142.000000    9.000000  7.700000
     英国      172.000000   60.000000  7.100000
1902 法国     3818.000000   26.000000  8.066667
     美国       50.333333   43.333333  6.900000
1903 法国       81.600000   21.500000  6.960000
     美国      824.500000   47.750000  6.850000
     英国      308.000000   34.000000  7.250000
1904 法国      217.714286   38.571429  7.500000
     美国       43.000000   60.000000  5.200000
1905 中国大陆    137.000000   30.000000  8.400000
     美国       45.666667   43.000000  5.766667
     英国     1389.000000   60.000000  8.400000
1906 意大利      37.000000    6.000000  7.000000
     法国       77.333333    9.333333  7.033333
     美国      425.500000   60.000000  7.750000
     英国      209.000000   60.000000  7.800000
1907 法国      213.600000   31.800000  7.020000
1908 法国      458.666667   60.000000  6.966667
     美国       33.500000    8.500000  6.950000
     西班牙     110.000000    8.000000  8.100000
1909 美国       58.600000   20.600000  7.560000
1910 法国       78.666667   60.000000  6.533333
     美国      145.000000   14.500000  7.550000
1911 意大利     297.000000   71.000000  8.200000
     美国      299.000000   12.000000  7.450000
     荷兰       65.000000    8.000000  6.400000
1912 俄罗斯     511.000000   12.000000  8.100000
     法国       71.500000   21.500000  7.750000
     美国       53.500000   13.500000  8.000000
1913 俄罗斯      54.000000   60.000000  7.400000
     德国      108.000000   85.000000  7.400000
     意大利      42.000000  120.000000  7.300000
     法国       40.000000    7.000000  6.700000
     瑞典       48.000000   60.000000  7.800000
...                 ...         ...       ...
2014 意大利     798.500000  103.875000  6.475000
     日本     2849.774481   74.005935  7.026113
     比利时    2260.000000   92.333333  6.350000
     法国     6754.428571   98.103896  6.989610
     波兰      681.000000   93.200000  7.060000
     泰国      856.035714   78.928571  5.653571
     澳大利亚   8049.562500   83.437500  6.568750
     瑞典     4062.600000   60.800000  6.960000
     美国    10662.456311   86.462136  6.415922
     英国     9672.163462   92.403846  7.275000
     荷兰     1643.500000   64.333333  7.300000
     西班牙    1832.437500   86.187500  6.868750
     阿根廷   19776.750000   98.750000  7.150000
     韩国     3776.266667   98.666667  5.650833
2015 中国台湾  13974.760000  101.600000  6.576000
     中国大陆  14379.621622   90.329730  4.969189
     中国香港  14385.648649   96.756757  5.589189
     丹麦     1729.000000   82.000000  7.166667
     俄罗斯    9391.428571  124.142857  7.342857
     其他     3333.392857   91.357143  6.735714
     加拿大     689.937500   91.687500  6.018750
     印度     2853.090909  139.545455  6.736364
     墨西哥    5352.250000   95.750000  6.500000
     巴西      501.400000   88.000000  6.760000
     德国     1501.772727   82.818182  7.009091
     意大利    7022.875000  110.750000  6.875000
     日本     2301.793478   76.557971  6.897826
     比利时    7121.333333  107.000000  7.033333
     法国     2753.233333   92.600000  6.921667
     波兰      165.000000   92.500000  6.300000
     泰国      744.333333   90.866667  5.846667
     澳大利亚  12964.533333   90.666667  6.880000
     瑞典     4455.500000   52.000000  7.625000
     美国     9194.213592   90.769417  6.278641
     英国     7049.764045   90.000000  7.155056
     荷兰      696.428571   71.571429  6.700000
     西班牙    1060.928571   95.500000  6.514286
     阿根廷     124.333333   82.333333  7.233333
     韩国     3209.247706  100.266055  5.423853
2016 中国大陆   8604.280000   94.080000  4.712000
     中国香港   6755.363636   98.909091  5.390909
     丹麦       43.000000  111.000000  7.000000
     其他      185.750000   91.000000  7.225000
     加拿大     347.500000   75.000000  6.200000
     印度      317.000000  130.000000  6.900000
     日本      579.763158   73.815789  7.181579
     法国       39.000000   93.250000  7.475000
     美国    10563.848485   91.984848  6.540909
     英国    14607.272727   85.545455  7.200000
     韩国     1739.850000  106.100000  5.730000

[1584 rows x 3 columns]

In [68]:
pd.pivot_table(df,index=["年代","产地"],values=["评分"])#指定需要项的数据

                 评分
年代   产地
1888 英国    7.950000
1890 美国    4.800000
1892 法国    7.500000
1894 法国    7.000000
     美国    6.450000
1895 法国    7.575000
1896 法国    7.650000
     美国    6.366667
     英国    6.600000
1897 法国    6.633333
1898 法国    8.500000
     英国    6.400000
1899 法国    6.900000
1900 法国    7.100000
     美国    7.450000
     英国    7.200000
1901 法国    7.700000
     英国    7.100000
1902 法国    8.066667
     美国    6.900000
1903 法国    6.960000
     美国    6.850000
     英国    7.250000
1904 法国    7.500000
     美国    5.200000
1905 中国大陆  8.400000
     美国    5.766667
     英国    8.400000
1906 意大利   7.000000
     法国    7.033333
     美国    7.750000
     英国    7.800000
1907 法国    7.020000
1908 法国    6.966667
     美国    6.950000
     西班牙   8.100000
1909 美国    7.560000
1910 法国    6.533333
     美国    7.550000
1911 意大利   8.200000
     美国    7.450000
     荷兰    6.400000
1912 俄罗斯   8.100000
     法国    7.750000
     美国    8.000000
1913 俄罗斯   7.400000
     德国    7.400000
     意大利   7.300000
     法国    6.700000
     瑞典    7.800000
...             ...
2014 意大利   6.475000
     日本    7.026113
     比利时   6.350000
     法国    6.989610
     波兰    7.060000
     泰国    5.653571
     澳大利亚  6.568750
     瑞典    6.960000
     美国    6.415922
     英国    7.275000
     荷兰    7.300000
     西班牙   6.868750
     阿根廷   7.150000
     韩国    5.650833
2015 中国台湾  6.576000
     中国大陆  4.969189
     中国香港  5.589189
     丹麦    7.166667
     俄罗斯   7.342857
     其他    6.735714
     加拿大   6.018750
     印度    6.736364
     墨西哥   6.500000
     巴西    6.760000
     德国    7.009091
     意大利   6.875000
     日本    6.897826
     比利时   7.033333
     法国    6.921667
     波兰    6.300000
     泰国    5.846667
     澳大利亚  6.880000
     瑞典    7.625000
     美国    6.278641
     英国    7.155056
     荷兰    6.700000
     西班牙   6.514286
     阿根廷   7.233333
     韩国    5.423853
2016 中国大陆  4.712000
     中国香港  5.390909
     丹麦    7.000000
     其他    7.225000
     加拿大   6.200000
     印度    6.900000
     日本    7.181579
     法国    7.475000
     美国    6.540909
     英国    7.200000
     韩国    5.730000

[1584 rows x 1 columns]

In [69]:
pd.pivot_table(df,index=["年代","产地"],values=["投票人数"],aggfunc=np.sum)#制定函数

              投票人数
年代   产地
1888 英国        776
1890 美国         51
1892 法国        176
1894 法国        148
     美国        190
1895 法国       7679
1896 法国       7497
     美国        167
     英国        210
1897 法国        201
1898 法国        991
     英国        166
1899 法国        142
1900 法国        156
     美国        425
     英国        646
1901 法国        142
     英国        516
1902 法国      11454
     美国        151
1903 法国        816
     美国       3298
     英国        616
1904 法国       1524
     美国         43
1905 中国大陆      137
     美国        137
     英国       1389
1906 意大利        37
     法国        232
     美国        851
     英国        209
1907 法国       1068
1908 法国       1376
     美国         67
     西班牙       110
1909 美国        293
1910 法国        236
     美国        290
1911 意大利       297
     美国        598
     荷兰         65
1912 俄罗斯       511
     法国        143
     美国        107
1913 俄罗斯        54
     德国        108
     意大利        42
     法国         40
     瑞典         48
...            ...
2014 意大利      6388
     日本     960374
     比利时     13560
     法国     520091
     波兰       3405
     泰国      23969
     澳大利亚   128793
     瑞典      20313
     美国    5491165
     英国    1005905
     荷兰       9861
     西班牙     29319
     阿根廷     79107
     韩国     453152
2015 中国台湾   349369
     中国大陆  5320460
     中国香港   532269
     丹麦      10374
     俄罗斯     65740
     其他     186670
     加拿大     11039
     印度      62768
     墨西哥     21409
     巴西       2507
     德国      33039
     意大利     56183
     日本     635295
     比利时     21364
     法国     165194
     波兰        660
     泰国      11165
     澳大利亚   194468
     瑞典      17822
     美国    3788016
     英国     627429
     荷兰       4875
     西班牙     14853
     阿根廷       746
     韩国     349808
2016 中国大陆   860428
     中国香港    74309
     丹麦         43
     其他        743
     加拿大       695
     印度        317
     日本      22031
     法国        156
     美国     697214
     英国     160680
     韩国      34797

[1584 rows x 1 columns]

In [71]:
pd.pivot_table(df,index=['产地'],values=['投票人数','评分'])#对产地实现数据聚合和总结

              投票人数        评分
产地
中国台湾   8474.864078  7.066667
中国大陆  10898.293793  6.064703
中国香港   8167.446159  6.474114
丹麦     1993.858586  7.245960
俄罗斯    1019.134172  7.554507
其他     1590.686979  7.237448
加拿大    1915.304288  6.733610
印度     3210.843137  6.872269
墨西哥    1173.218487  7.087395
巴西     3536.000000  7.262376
德国     2597.851744  7.198062
意大利    3340.740988  7.179306
日本     3563.782815  7.194476
比利时    1230.122302  7.217986
法国     3627.118608  7.238885
波兰      881.640884  7.441989
泰国     5322.724490  6.109184
澳大利亚   4719.043333  6.978000
瑞典     1510.817708  7.413021
美国     8499.433628  6.946861
英国     4797.089790  7.526937
荷兰      934.425806  7.190323
西班牙    3326.024609  7.024385
阿根廷    2226.474138  7.273276
韩国     6484.885270  6.362990

In [72]:
pd.pivot_table(df,index=['产地'],values=['投票人数','评分'],aggfunc=[np.sum,np.mean])

            sum                   mean
           投票人数       评分          投票人数        评分
产地
中国台湾    5237466   4367.2   8474.864078  7.066667
中国大陆   41435313  23058.0  10898.293793  6.064703
中国香港   23285389  18457.7   8167.446159  6.474114
丹麦       394784   1434.7   1993.858586  7.245960
俄罗斯      486127   3603.5   1019.134172  7.554507
其他      3054119  13895.9   1590.686979  7.237448
加拿大     1384765   4868.4   1915.304288  6.733610
印度      1146271   2453.4   3210.843137  6.872269
墨西哥      139613    843.4   1173.218487  7.087395
巴西       357136    733.5   3536.000000  7.262376
德国      2680983   7428.4   2597.851744  7.198062
意大利     2502215   5377.3   3340.740988  7.179306
日本     18000667  36339.3   3563.782815  7.194476
比利时      170987   1003.3   1230.122302  7.217986
法国     10213966  20384.7   3627.118608  7.238885
波兰       159577   1347.0    881.640884  7.441989
泰国      1564881   1796.1   5322.724490  6.109184
澳大利亚    1415713   2093.4   4719.043333  6.978000
瑞典       290077   1423.3   1510.817708  7.413021
美国    101806216  83209.5   8499.433628  6.946861
英国     13249562  20789.4   4797.089790  7.526937
荷兰       144836   1114.5    934.425806  7.190323
西班牙     1486733   3139.9   3326.024609  7.024385
阿根廷      258271    843.7   2226.474138  7.273276
韩国      8761080   8596.4   6484.885270  6.362990

In [73]:
 pd.pivot_table(df,index=['产地'],aggfunc=[np.sum,np.mean],fill_value=0)#fill_value填充nan为0

           sum                                      mean                \
            年代       投票人数       时长       评分           年代          投票人数
产地
中国台湾   1235388    5237466    53925   4367.2  1999.009709   8474.864078
中国大陆   7621488   41435313   309608  23058.0  2004.599684  10898.293793
中国香港   5676627   23285389   252431  18457.7  1991.100316   8167.446159
丹麦      395820     394784    17444   1434.7  1999.090909   1993.858586
俄罗斯     946797     486127    45753   3603.5  1984.899371   1019.134172
其他     3837588    3054119   167168  13895.9  1998.743750   1590.686979
加拿大    1447780    1384765    57919   4868.4  2002.461964   1915.304288
印度      716133    1146271    43203   2453.4  2005.974790   3210.843137
墨西哥     237145     139613    10929    843.4  1992.815126   1173.218487
巴西      201987     357136     8869    733.5  1999.871287   3536.000000
德国     2059937    2680983    95008   7428.4  1996.062984   2597.851744
意大利    1487142    2502215    77902   5377.3  1985.503338   3340.740988
日本    10101505   18000667   427863  36339.3  1999.902000   3563.782815
比利时     277930     170987    11447   1003.3  1999.496403   1230.122302
法国     5608811   10213966   253169  20384.7  1991.765270   3627.118608
波兰      359652     159577    14613   1347.0  1987.027624    881.640884
泰国      590684    1564881    26002   1796.1  2009.129252   5322.724490
澳大利亚    600896    1415713    25549   2093.4  2002.986667   4719.043333
瑞典      381491     290077    17898   1423.3  1986.932292   1510.817708
美国    23890969  101806216  1070168  83209.5  1994.570796   8499.433628
英国     5514959   13249562   244005  20789.4  1996.726647   4797.089790
荷兰      310199     144836    11685   1114.5  2001.283871    934.425806
西班牙     894710    1486733    40455   3139.9  2001.588367   3326.024609
阿根廷     232468     258271    10638    843.7  2004.034483   2226.474138
韩国     2712967    8761080   134734   8596.4  2008.117691   6484.885270


              时长        评分
产地
中国台湾   87.257282  7.066667
中国大陆   81.432930  6.064703
中国香港   88.541214  6.474114
丹麦     88.101010  7.245960
俄罗斯    95.918239  7.554507
其他     87.066667  7.237448
加拿大    80.109267  6.733610
印度    121.016807  6.872269
墨西哥    91.840336  7.087395
巴西     87.811881  7.262376
德国     92.062016  7.198062
意大利   104.008011  7.179306
日本     84.708573  7.194476
比利时    82.352518  7.217986
法国     89.903764  7.238885
波兰     80.734807  7.441989
泰国     88.442177  6.109184
澳大利亚   85.163333  6.978000
瑞典     93.218750  7.413021
美国     89.344465  6.946861
英国     88.343592  7.526937
荷兰     75.387097  7.190323
西班牙    90.503356  7.024385
阿根廷    91.706897  7.273276
韩国     99.729090  6.362990

In [76]:
pd.pivot_table(df,index=['产地'],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)#margins=True计算总和

           sum                                       mean                \
            年代       投票人数       时长        评分           年代          投票人数
产地
中国台湾   1235388    5237466    53925    4367.2  1999.009709   8474.864078
中国大陆   7621488   41435313   309608   23058.0  2004.599684  10898.293793
中国香港   5676627   23285389   252431   18457.7  1991.100316   8167.446159
丹麦      395820     394784    17444    1434.7  1999.090909   1993.858586
俄罗斯     946797     486127    45753    3603.5  1984.899371   1019.134172
其他     3837588    3054119   167168   13895.9  1998.743750   1590.686979
加拿大    1447780    1384765    57919    4868.4  2002.461964   1915.304288
印度      716133    1146271    43203    2453.4  2005.974790   3210.843137
墨西哥     237145     139613    10929     843.4  1992.815126   1173.218487
巴西      201987     357136     8869     733.5  1999.871287   3536.000000
德国     2059937    2680983    95008    7428.4  1996.062984   2597.851744
意大利    1487142    2502215    77902    5377.3  1985.503338   3340.740988
日本    10101505   18000667   427863   36339.3  1999.902000   3563.782815
比利时     277930     170987    11447    1003.3  1999.496403   1230.122302
法国     5608811   10213966   253169   20384.7  1991.765270   3627.118608
波兰      359652     159577    14613    1347.0  1987.027624    881.640884
泰国      590684    1564881    26002    1796.1  2009.129252   5322.724490
澳大利亚    600896    1415713    25549    2093.4  2002.986667   4719.043333
瑞典      381491     290077    17898    1423.3  1986.932292   1510.817708
美国    23890969  101806216  1070168   83209.5  1994.570796   8499.433628
英国     5514959   13249562   244005   20789.4  1996.726647   4797.089790
荷兰      310199     144836    11685    1114.5  2001.283871    934.425806
西班牙     894710    1486733    40455    3139.9  2001.588367   3326.024609
阿根廷     232468     258271    10638     843.7  2004.034483   2226.474138
韩国     2712967    8761080   134734    8596.4  2008.117691   6484.885270
All   76216291  239112081  3394392  264182.3  1996.968270   6265.054787


              时长        评分
产地
中国台湾   87.257282  7.066667
中国大陆   81.432930  6.064703
中国香港   88.541214  6.474114
丹麦     88.101010  7.245960
俄罗斯    95.918239  7.554507
其他     87.066667  7.237448
加拿大    80.109267  6.733610
印度    121.016807  6.872269
墨西哥    91.840336  7.087395
巴西     87.811881  7.262376
德国     92.062016  7.198062
意大利   104.008011  7.179306
日本     84.708573  7.194476
比利时    82.352518  7.217986
法国     89.903764  7.238885
波兰     80.734807  7.441989
泰国     88.442177  6.109184
澳大利亚   85.163333  6.978000
瑞典     93.218750  7.413021
美国     89.344465  6.946861
英国     88.343592  7.526937
荷兰     75.387097  7.190323
西班牙    90.503356  7.024385
阿根廷    91.706897  7.273276
韩国     99.729090  6.362990
All    88.937588  6.921928

In [77]:
pd.pivot_table(df,index=['产地'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean},fill_value=0)
#对不同值执行不同函数

           投票人数        评分
产地
中国台湾    5237466  7.066667
中国大陆   41435313  6.064703
中国香港   23285389  6.474114
丹麦       394784  7.245960
俄罗斯      486127  7.554507
其他      3054119  7.237448
加拿大     1384765  6.733610
印度      1146271  6.872269
墨西哥      139613  7.087395
巴西       357136  7.262376
德国      2680983  7.198062
意大利     2502215  7.179306
日本     18000667  7.194476
比利时      170987  7.217986
法国     10213966  7.238885
波兰       159577  7.441989
泰国      1564881  6.109184
澳大利亚    1415713  6.978000
瑞典       290077  7.413021
美国    101806216  6.946861
英国     13249562  7.526937
荷兰       144836  7.190323
西班牙     1486733  7.024385
阿根廷      258271  7.273276
韩国      8761080  6.362990

In [78]:
pd.pivot_table(df,index=['年代'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean},fill_value=0)

          投票人数        评分
年代
1888       776  7.950000
1890        51  4.800000
1892       176  7.500000
1894       338  6.633333
1895      7679  7.575000
1896      7874  7.037500
1897       201  6.633333
1898      1157  7.450000
1899       142  6.900000
1900      1227  7.228571
1901       658  7.250000
1902     11605  7.483333
1903      4730  6.968750
1904      1567  7.212500
1905      1663  6.820000
1906      1329  7.342857
1907      1068  7.020000
1908      1553  7.150000
1909       293  7.560000
1910       526  6.940000
1911       960  7.375000
1912       761  7.920000
1913       529  6.862500
1914      2728  6.473077
1915      6298  7.260000
1916      7364  7.758333
1917      1493  7.075000
1918      4285  7.200000
1919      3597  7.490000
1920      8911  7.492857
1921     16056  7.750000
1922     16876  7.804545
1923      7668  7.883333
1924     10410  8.053571
1925     27607  7.788000
1926     10203  7.773913
1927     20163  7.751724
1928     16193  7.945000
1929     25919  7.440000
1930     13877  7.360000
1931     61684  7.483333
1932     22203  7.294595
1933     36486  7.430000
1934     39601  7.519608
1935     40834  7.515217
1936     87928  7.635000
1937     77431  7.575510
1938     20976  7.736842
1939    289681  7.520408
1940    216401  7.571795
...        ...       ...
1967    217763  7.484659
1968    188550  7.317442
1969    122774  7.370048
1970    128590  7.291053
1971    299703  7.155708
1972    475913  7.268116
1973    170422  7.250235
1974    375931  7.062332
1975    435657  7.071429
1976    312364  7.107725
1977    210568  7.148182
1978    201366  7.096517
1979    426447  7.296035
1980    539321  7.186607
1981    440883  7.157299
1982    569966  7.297368
1983    426910  7.310108
1984    784149  7.375170
1985    509779  7.278505
1986    916436  7.256790
1987   1073170  7.284548
1988   1876889  7.265729
1989   1176806  7.210687
1990   1951476  7.149109
1991   1921186  7.154634
1992   2386468  7.223678
1993   3579932  7.195692
1994   5670752  7.262348
1995   3976844  7.289366
1996   2634572  7.258801
1997   4426995  7.330168
1998   4288143  7.238302
1999   4460656  7.188000
2000   4318580  7.134063
2001   7029519  7.110145
2002   5897334  7.069778
2003   7505258  7.137750
2004   9746963  7.031366
2005   8217218  7.030008
2006  11026565  6.914719
2007  10700316  6.875102
2008  13264798  6.911049
2009  16229871  6.750000
2010  18048476  6.769867
2011  16351964  6.577010
2012  14463052  6.458374
2013  15215050  6.392604
2014  14573872  6.259777
2015  12483522  6.141960
2016   1851413  5.868217

[126 rows x 2 columns]

In [80]:
table=pd.pivot_table(df,index=['年代'],values=['投票人数','评分'],aggfunc={'投票人数':np.sum,'评分':np.mean},fill_value=0)

In [81]:
type(table)

pandas.core.frame.DataFrame

In [82]:
table[table.index==1994]

         投票人数        评分
年代
1994  5670752  7.262348

In [83]:
table.sort_values('评分',ascending=False)#年代平均分排序

          投票人数        评分
年代
1924     10410  8.053571
1888       776  7.950000
1928     16193  7.945000
1912       761  7.920000
1923      7668  7.883333
1922     16876  7.804545
1925     27607  7.788000
1926     10203  7.773913
1916      7364  7.758333
1927     20163  7.751724
1921     16056  7.750000
1961    325057  7.744118
1952    128198  7.743678
1938     20976  7.736842
1962    282013  7.704895
1954    222385  7.702941
1945     48462  7.673469
1948    103226  7.657471
1950    169862  7.655263
1957    318173  7.652336
1949     57110  7.646067
1951     75532  7.636709
1936     87928  7.635000
1943     42342  7.615789
1946     61033  7.606780
1956    155027  7.600000
1955    228130  7.580000
1965    324074  7.576074
1937     77431  7.575510
1895      7679  7.575000
1959    220809  7.571875
1940    216401  7.571795
1960    189462  7.569466
1953    421178  7.567045
1909       293  7.560000
1942    138211  7.554717
1944     54398  7.538889
1958    108116  7.536885
1963    169316  7.536364
1964    201613  7.523077
1939    289681  7.520408
1934     39601  7.519608
1966    236195  7.518994
1935     40834  7.515217
1892       176  7.500000
1920      8911  7.492857
1919      3597  7.490000
1967    217763  7.484659
1931     61684  7.483333
1902     11605  7.483333
...        ...       ...
1973    170422  7.250235
1901       658  7.250000
1998   4288143  7.238302
1900      1227  7.228571
1992   2386468  7.223678
1904      1567  7.212500
1989   1176806  7.210687
1918      4285  7.200000
1993   3579932  7.195692
1999   4460656  7.188000
1980    539321  7.186607
1981    440883  7.157299
1971    299703  7.155708
1991   1921186  7.154634
1908      1553  7.150000
1990   1951476  7.149109
1977    210568  7.148182
2003   7505258  7.137750
2000   4318580  7.134063
2001   7029519  7.110145
1976    312364  7.107725
1978    201366  7.096517
1917      1493  7.075000
1975    435657  7.071429
2002   5897334  7.069778
1974    375931  7.062332
1896      7874  7.037500
2004   9746963  7.031366
2005   8217218  7.030008
1907      1068  7.020000
1903      4730  6.968750
1910       526  6.940000
2006  11026565  6.914719
2008  13264798  6.911049
1899       142  6.900000
2007  10700316  6.875102
1913       529  6.862500
1905      1663  6.820000
2010  18048476  6.769867
2009  16229871  6.750000
1894       338  6.633333
1897       201  6.633333
2011  16351964  6.577010
1914      2728  6.473077
2012  14463052  6.458374
2013  15215050  6.392604
2014  14573872  6.259777
2015  12483522  6.141960
2016   1851413  5.868217
1890        51  4.800000

[126 rows x 2 columns]

In [ ]:
#多个索引汇总